/* line 21, ../sass/App.scss */
.App {
  text-align: center;
}

/* line 25, ../sass/App.scss */
.App-logo {
  height: 40vmin;
}

/* line 29, ../sass/App.scss */
.App-header {
  z-index: 1;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* line 42, ../sass/App.scss */
.App-link {
  color: #09d3ac;
}

/* line 49, ../sass/App.scss */
.test {
  width: 43px;
}

/* line 54, ../sass/App.scss */
body {
  margin: 0;
}

/* line 59, ../sass/App.scss */
main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* line 66, ../sass/App.scss */
.row {
  margin: 0 auto;
}
/* line 72, ../sass/App.scss */
.row > * {
  margin: 0 0px;
}

/* line 85, ../sass/App.scss */
.space {
  padding-bottom: 30px;
}

/* line 89, ../sass/App.scss */
.title {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: 400;
  margin: 0;
}

/* line 98, ../sass/App.scss */
.triangle {
  width: 43px;
  height: 75px;
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 105, ../sass/App.scss */
.triangle::before {
  content: '';
  display: block;
  width: 300%;
  height: 150%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  transform: rotate(30deg) scale(1) translateX(0px);
  transform-origin: 0 100%;
  box-shadow: 0 0 0 100% white;
}
/* line 120, ../sass/App.scss */
.triangle.invert::before, .triangle.arrow-invert::before {
  background: white;
  box-shadow: 0 0 0 500px black;
}

/* line 127, ../sass/App.scss */
.triangle--right {
  width: 43px;
  height: 75px;
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 133, ../sass/App.scss */
.triangle--right::before {
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  background: white;
  box-shadow: 0 0 0 500px black;
  transform: rotate(60deg) scale(1, -1) translateX(6%) translateY(-25%);
}
/* line 149, ../sass/App.scss */
.triangle--right.invert::before {
  background: black;
  box-shadow: 0 0 0 500px white;
}

/* line 156, ../sass/App.scss */
.triangle--convex {
  width: 43px;
  height: 75px;
  position: relative;
  overflow: hidden;
}
/* line 162, ../sass/App.scss */
.triangle--convex::before {
  content: '';
  display: block;
  width: 600%;
  height: 300%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  border-top-left-radius: 100% 100%;
  border-bottom-left-radius: 100% 100%;
  border-bottom-right-radius: 10% 100%;
  border-top-right-radius: 10% 100%;
  transform: rotate(30deg) scale(1) translateX(-4%) translateY(30%);
  transform-origin: 0 100%;
  box-shadow: 0 0 0 500px white;
}
/* line 182, ../sass/App.scss */
.triangle--convex.invert::before {
  background: white;
  box-shadow: 0 0 0 500px black;
}

/* line 189, ../sass/App.scss */
.triangle--concave {
  width: 43px;
  height: 75px;
  position: relative;
  overflow: hidden;
}
/* line 195, ../sass/App.scss */
.triangle--concave::before {
  content: '';
  display: block;
  width: 600%;
  height: 300%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 100%;
  border-top-left-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  background: white;
  box-shadow: 0 0 0 500px black;
  transform: rotate(45deg) scale(1) translateX(0px) translateY(42%) translateX(-100%);
}
/* line 217, ../sass/App.scss */
.triangle--concave.invert::before, .triangle--concave.arrow-invert::before {
  background: black;
  box-shadow: 0 0 0 500px white;
}

/* line 224, ../sass/App.scss */
.triangle--space {
  width: 43px;
  height: 75px;
  float: left;
  position: relative;
  overflow: hidden;
}

/* line 232, ../sass/App.scss */
.triangle--double-space {
  width: 86px;
  height: 75px;
  float: left;
  position: relative;
  overflow: hidden;
}

/* line 277, ../sass/App.scss */
.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
}
/* line 282, ../sass/App.scss */
.arrow-wrapper > * {
  margin: 0 0px;
}

/* line 287, ../sass/App.scss */
.container {
  overflow: hidden;
}
